@import "../../styles/breakpoints.scss";
@import "../../styles/variables.scss";

.timeslot-item {
  // font-family: $font-family-header;
  font-size: 17px;
  .hour-minutets {
    font-weight: 600;
    margin-right: 5px;
  }
  padding: 10px 20px;
  border-bottom: 1px solid #e8e8e8;
}

.timeslots-wrapper {
  max-height: calc(100vh - 400px);
  overflow-y: auto;
}